
.choice-container {
    display: flex;
    margin-bottom: 10px;
    width: 100%;
    border-radius: 6px;
    background: darkblue;
    font-size: 30px;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 2px 2px 0;
    scale: transform(1.05);
}

.choice-prefix {
    padding: 10px 15px;
    color: white;
}

.choice-text {
    padding: 20px;
    width: 100%;
}

/* HUD */

.hud-prefix {
    text-align: center;
    font-size: 48px;
}

.hud-main-text {
    text-align: center;
}

#hud {
    display: flex;
    justify-content: space-between;
}

#question {
    margin: 35px auto;
}